# virtual environment
.venv/
venv/
.idea/
# python cache
__pycache__/
*.pyc
*.pyo

# jupyter
.ipynb_checkpoints/

# large files — don't push to github
data/*.csv
embeddings/
*.npy

# environment variables
.env